doctype html
html(lang="ru")
    include ./templates/layout/head.pug  
    body
        include ./templates/layout/nav.pug
    
 
    
        main.container(role="main")
            div.row
                div.col-md-12    
                    div.card.mb-4.shadow-sm
                        div.card-body
                            h5.card-title Координатная прямая и точка
                            p.card-text.overflow-auto
                                module(id="task")
                            p
                                button.btn.btn-success(type="button", data-toggle="collapse", data-target="#coordinationLinePoint", aria-expanded="false", aria-controls="#coordinationLinePoint") Ответ
                            div.collapse(id="coordinationLinePoint")
                                div.card.card-body
                                    div.boxTikZ
                                        script(type="text/tikz", id="img")
                                    result(id="answer")
        script(type="text/javascript", src="scripts/BD/coordinationLinePoint.js")
    
    
    
    include ./templates/layout/footer.pug