doctype html
html(lang="ru")
    include ./templates/layout/head.pug  
    body
        include ./templates/layout/nav.pug
    
 
    
        main.container(role="main")
            div.row
                div.col-md-12    
                    div.card.mb-4.shadow-sm
                        div.card-body
                            h4.card-title Добро пожаловать в Tutor!
                            p.card-text.overflow-auto
                                h5 Линейная алгебра и аналитическая геометрия
                                ul
                                    li
                                        a  Системы координат
                                        ul
                                            li
                                                a(href="./coordinationLinePoint.html") Координатная прямая и точка 
                                            li
                                                a(href="./rectangularCoordinatesPoint.html") Прямоугольные координаты на плоскости и точка
                                            li
                                                a(href="./affineCoordinatesPlanePoint.html") Аффинные координаты на плоскости и точка
                                    li
                                        a Алгебра тригонометрических выражений 
                                        ul
                                            li
                                                a(href="./tabularTrigonometry.html") Табличные значения тригонометрических углов
                                            li
                                                a(href="./сastFormulas.html") Формулы приведения
                                    li
                                        a Алгебра комплексных чисел 
                                        ul
                                            li
                                                a(href="./additionСomplexNumbers.html") Сложение комплексных чисел в алгебраической форме
                                            li
                                                a(href="./subtractionСomplexNumbers.html") Разность комплексных чисел в алгебраической форме
                                            li
                                                a(href="./multiplicationСomplexNumbers.html") Произведение комплексных чисел в алгебраической форме
                                    li
                                        a Геометрия векторов 
                                        ul
                                            li
                                                a(href="./additionVectorsTriangleRule2DSpace.html") Сложение векторов с помощью правила треугольника в двумерном пространстве
                                            li
                                                a(href="./additionVectorsParallelogramRule2DSpace.html") Сложение векторов с помощью правила параллелограмма в двумерном пространстве
                                            li
                                                a(href="./scalingVector2DSpace.html") Скалирование векторов в двумерном пространстве
                                    li
                                        a Геометрия матриц 
                                        ul
                                            li
                                                a(href="./transforming2DSpaceUsing2x2Matrix.html") Преобразования двумерного пространства с помощью матрицы 2x2
                                            li
                                                a(href="./transforming2DVectorUsing2x2Matrix.html") Преобразования двумерного вектора с помощью матрицы 2x2
                                            li
                                                a(href="./transforming2DSpaceUsing2x2MatrixСhangingUnitSquare.html") Преобразования двумерного пространства с помощью матрицы 2x2 и изменение единичного квадрата
                                    li
                                        a Геометрия комплексных чисел 
                                        ul
                                            li
                                                a(href="./additionСomplexNumbers2DSpace.html") Сложение комплексных чисел в алгебраической форме в двумерном пространстве
                                            li
                                                a(href="./subtractionСomplexNumbers2DSpace.html") Разность комплексных чисел в алгебраической форме в двумерном пространстве
                                            li
                                                a(href="./multiplicationСomplexNumbers2DSpace.html") Произведение комплексных чисел в алгебраической форме в двумерном пространстве
                                h5 Дифференциальное исчисление
                                ul
                                    li
                                        a(href="./tabularIntegrals.html") Табличные интегралы
                                    li
                                        a Простейшие приёмы интегрирования
                                        ul
                                            li
                                                a(href="./tabularIntegrals.html") Работа со степенями
                                    li
                                        a Основные методы интегрирования
                                        ul
                                            li
                                                a(href="./integralsTrigonometrySumProduct.html") Интегрирование триг. выражений: произведение в сумму
                                            li
                                                a(href="./integrationTrigonometryExpressionsInPowers.html") Интегрирование триг. выражений в степени
								
    
    
    include ./templates/layout/footer.pug