doctype html
html(lang="ru")
    include ./templates/layout/head.pug  
    body
        include ./templates/layout/nav.pug
    
 
    
        main.container(role="main")
            div.row
                div.col-md-12    
                    div.card.mb-4.shadow-sm
                        div.card-body
                            h4.card-title Добро пожаловать в Tutor!
                            p.card-text.overflow-auto
                                h5 Тригонометрия
                                ul
                                    li
                                        a(href="./tabularTrigonometry.html") Табличные значения тригонометрических углов
                                    li
                                        a(href="./сastFormulas.html") Формулы приведения
                                h5 Комплексные числа
                                ul
                                    li
                                        a(href="./additionСomplexNumbers.html") Сложение комплексных чисел в алгебраической форме
                                    li
                                        a(href="./subtractionСomplexNumbers.html") Разность комплексных чисел в алгебраической форме
                                h5 Дифференциальное исчисление
                                ul
                                    li
                                        a(href="./tabularIntegrals.html") Табличные интегралы
                                    li
                                        a Простейшие приёмы интегрирования
                                        ul
                                            li
                                                a(href="./tabularIntegrals.html") Работа со степенями
                                    li
                                        a Основные методы интегрирования
                                        ul
                                            li
                                                a(href="./integralsTrigonometrySumProduct.html") Интегрирование триг. выражений: произведение в сумму
                                            li
                                                a(href="./integrationTrigonometryExpressionsInPowers.html") Интегрирование триг. выражений в степени
								
    
    
    include ./templates/layout/footer.pug