head
    meta(charset='UTF-8')
    title Tutor
    
    link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    
    link(rel="stylesheet", type="text/css", href="css/bootstrap.min_4.6.0.css")
    
    script(type="text/javascript", src="scripts/jquery.js")
    script(type="text/javascript", src="scripts/jquery.ui.js")
    script(type="text/javascript", src="scripts/popper.min.js")
    script(type="text/javascript", src="scripts/bootstrap.min.js")
    
    script(src="node_modules/mathjax/es5/tex-chtml.js", id="MathJax-script" async)
    
    script(type="text/javascript", src="scripts/general.js")
    
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")