nav.navbar.navbar-expand-md.fixed-top.bg-dark.navbar-dark
        div.container-xl
            a.navbar-brand(href="#")
                img(src="./img/logo.png", alt="", width="30", height="30", class="d-inline-block align-text-top") 
                text Tutor
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExample07XL", aria-controls="navbarsExample07XL", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse(id="navbarsExample07XL")
                ul.navbar-nav.mr-auto
                    li.nav-item 
                        a.nav-link(href="./index.html") Sum
                    li.nav-item 
                        a.nav-link(href="./index.html") Sum